@use '../../main.scss';

section.tolerance {
    background: main.$dark-blue;
    color: white;
    padding: 50px 20px;

    &>div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .tolerance-content {
            flex-basis: 40%;

            h2 {
                font-weight: 800;
                font-size: 1.8em;
                margin-bottom: 5px;
            }

            p {
                font-size: 1.3em;
                margin: 0;
            }
        }

        .tolerance-range {
            flex-basis: 50%;

            p {
                font-weight: 700;
            }

            .query-state {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
        }

        &>div {
            width: 100%;
        }

        .bars {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &>div:last-child {
                padding: 15px;
                color: main.$white;
                background-color: main.$blue;
            }
        }
    }
}

@media (max-width: 912px) {

    section.tolerance > div {
        display: block;

        .tolerance-content  {
                text-align: center;
        }
    }
}