@use '../../main.scss';

.FAQs {
    display: flex;
    background: main.$white;
    padding: 100px;
    gap: 20px;
    justify-content: space-around;

    

    &>div:nth-child(2) {
        flex-basis: 800px;

        &>ul {
            margin: 0;
            position: relative;
            padding: 0;

            li {
                list-style: none;
                border-bottom: 1px solid main.$black; 
                padding: 10px 0;

                &>div:first-child {
                    display: flex;
                    align-items: center;

                    h2 {
                        font-size: 1.2em;
                        font-weight: 500;
                        width: 100%;
                    }

                    // .open-icon {
                    //     transition: all .3s ease-in-out;
                    //     transform: rotateZ(-180deg);
                    // }

                    // .close-icon {
                    //     transform: rotateZ(0);
                    //     transition: all .3s ease-in-out;
                    // }
                }


                .data-accordion {
                    display: grid;
                    grid-template-rows: 0fr;
                    transition: 350ms grid-template-rows ease-in-out;

                    &>div {
                        overflow: hidden;

                        p {
                            margin: 0;
                        }
                    }
                }

                .visible {
                    grid-template-rows: 1fr;

                }
            }
        }
    }
}

@media (max-width: 768px) {
    .FAQs {
        display: block;
    }
}