$blue: rgb(57, 57, 226);
$black: rgb(56, 55, 55);
$green: rgb(72, 234, 72);
$white: rgb(254, 254, 254);



:root {
  font-synthesis: none;
  color: black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}


button {
  background: $blue;
  padding: 10px 20px;
  border: 2px solid $blue;
  color: $white;
  font-weight: 600;
  border-radius: 5px;
}

button[data-button-outline] {
  background: transparent;
  color: $blue;
}

body {
  margin: 0;
  font-family: 'Montserrat';
}

#root {
  padding: 0 20px;
}