$blue: #3269ff;
$faint-blue: rgb(231, 241, 255);
$dark-blue:#000b50;
$shadow: rgba(0,0,0,.1);
$light-gray: #f6f6f6;
$darkest-blue: #18172b;
$yellow: #fcefc0;
$bright-yellow: #f5c400;
$black: rgb(56, 55, 55);
$green: rgb(72, 234, 72);
$white: #ffffff;



:root {
  font-synthesis: none;
  color: black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  background: $dark-blue;
}


button {
  background: $blue;
  padding: 15px 22px;
  border: 2px solid $blue;
  color: $white;
  font-weight: 600;
  border-radius: 5px;
}


button[data-button-outline] {
  background: transparent;
  color: $blue;
}

body {
  margin: 0;
  font-family: 'Montserrat';
}
