@use '../../main.scss';

header {
    width: 100%;
    background: main.$yellow;

    a {
        text-decoration: none;
        color: main.$black;
    }

    &>div {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        nav, &>div {
            display: flex;
            gap: 15px;
            align-items: center;
            justify-content: space-between;
        }

        nav > div {
            display: flex;
            position: relative;
            font-weight: 500;
            color: main.$black;
            align-items: flex-end;

            .dropdown {
                position: absolute;
                width: 200px;
                background-color: main.$white;
                display: none;
                box-shadow: 0 0 10px main.$shadow;
                border-radius: 5px;
                padding: 10px;
                top: 35px;
                right:-100%;
            }
        }

        nav > div:hover {

            .dropdown {
                display: block;
                z-index: 2;
            }
        }

        .logo {
            font-family: saira condensed;
            font-size: 2em;
            gap: 0;
            font-weight: 700;

            [data-cybervest-logo] {
                width: 40px;
                height: 40px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .menu-button {
            font-size: 2.5em;
            display: none;
        }
    }

    .menu, .hidden {
        position: fixed;
        width: 400px;
        z-index: 3;
        font-size: 1.25em;
        right: 0;
        box-shadow: 0 0 15px main.$shadow;
        color: main.$black;
        transition:all .3s ease-in-out;
        transform: translateX(0);
        align-items: flex-start;
        background: main.$white;
        height: 100vh;

        &>div {
            width: 100%;
            display: block;

            nav {
                display: block;
                
                &>div {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid main.$black;
                    padding: 15px 0;
                }
            }

            .button {
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                button {
                    width: 100%;
                }
            }
        }
    }

    .hidden {
        transition:all .3s ease-in-out;
        transform: translateX(400px);
    }
}


@media (max-width: '960px') {

    header > div {
        font-size: .7em;
        padding: 15px;

        nav, .button {
            display: none;
        }

        .menu-button {
            display: block;
        }
    }
}

@media (max-width: '412px') {
    header .menu {
       width: 100vw;
    }
}
